# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
